[submodule "frontend"]
	path = frontend
	url = https://github.com/nuharaomesh/crop-monitoring-sys-react.git
[submodule "backend"]
	path = backend
	url = https://github.com/nuharaomesh/crop-monitoring-sys-express.git
